<div class="w-150 h-150 rounded-full border-2 border-gray-200 bg-white mb-8">
  <div class="w-full h-full flex flex-col items-center justify-center">
    <img 
      src="Profile Pic (LinkedIn).jpg" 
      alt="Profile" 
      class="w-40 h-40 rounded-full object-cover border-4 border-gray-300"
    />
    <div class="mt-4 flex flex-row items-center justify-center gap-x-4">
      <span class="text-xl font-semibold text-gray-700 tracking-widest">
        D A T A
      </span>
      <span class="text-xl font-semibold text-gray-700 tracking-widest">
        S C I E N T I S T
      </span>
    </div>

    <div class="mt-6">
      <h1 class="text-3xl font-bold text-gray-800 typewriter-toggle whitespace-nowrap">
        Hi, I am Abhinav
      </h1>
    </div>

    <div class="mt-6 flex justify-center gap-4">
      <button 
      onclick="document.getElementById('about').scrollIntoView({ behavior: 'smooth' })"
      class="rounded-full bg-white px-4 py-2 transition hover:border-2 hover:border-gray-400">
        About
      </button>
      <button 
      onclick="document.getElementById('projects').scrollIntoView({ behavior: 'smooth' })"
      class="rounded-full bg-white px-4 py-2 transition hover:border-2 hover:border-gray-400">
        Projects
      </button>
      <button 
      onclick="document.getElementById('skills').scrollIntoView({ behavior: 'smooth' })"
      class="rounded-full bg-white px-4 py-2 transition hover:border-2 hover:border-gray-400">
        Skills
      </button>
      <button 
      onclick="document.getElementById('contact').scrollIntoView({ behavior: 'smooth' })"
      class="rounded-full bg-white px-4 py-2 transition hover:border-2 hover:border-gray-400">
        Contact
      </button>
    </div>
  </div>
</div>